
<div class="container-fluid">

  <div class="row">
    <div class="col-md-3">
            <img [src]='leftPreview' class="side_preview" *ngIf="leftPreview.length">
    </div>
    <div class="col-md-6">
        <h3 class="app_header">T-Shirt Zone </h3>
        <br/>
        <div>
            <input type="text" class="form-control" placeholder="Enter the starting price" [(ngModel)]="startPrice">
          </div>
          <hr/>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr class="itemrow">
                  <td>Preview</td>
                  <td>Company</td>
                  <td>Price</td>
                  <td>Stocks Remaining</td>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of itemData|priceSearch:startPrice" class="itemrow" #tr >
                      <td>
                        <img #preview [src]="item.frontPreviewUrl" class="preview" [id]="item.productId" (pointermove)="changePreview(preview)" (pointerleave)="endPreview(preview)" />
                      </td>
                      <td>{{item.productCompany}}</td>
                      <td>{{item.price|currency:'INR'}}</td>
                      <td [ngClass]="item.stockValue<100?'text-danger':''">{{item.stockValue}}</td>
                    </tr>
              </tbody>
            </table>
            <hr/>
          </div>
    </div>
    <div class="col-md-3">
        <img [src]='rightPreview' class="side_preview" *ngIf="rightPreview.length">
    </div>
  </div>
</div>
