
<div class="container-fluid">

  <div class="row">
    <div class="col-md-3">
            <img [src]='sidePreview' class="side_preview" *ngIf="sidePreview.length">
    </div>
    <div class="col-md-7">
        <h3 class="app_header">Shirt </h3>
        <br/>
        <div>
            <input type="text" class="form-control" placeholder="Enter the starting price">
          </div>
          <hr/>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr class="itemrow">
                  <td>Preview</td>
                  <td>Company</td>
                  <td>Price</td>
                  <td>Stocks Remaining</td>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of itemData" class="itemrow">
                      <td>
                        <img #preview [src]="item.frontPreviewUrl" class="preview" [id]="item.productId" (pointermove)="changePreview(preview)" (pointerleave)="endPreview(preview)" />
                      </td>
                      <td>{{item.productCompany}}</td>
                      <td>{{item.price}}</td>
                      <td>{{item.stockValue}}</td>
                    </tr>
              </tbody>
            </table>
            <hr/>
          </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
