<div id="container">
  <div id="operands">
      <input type="text"  [(ngModel)]='num1'/>
      <span id="operator" [innerHTML]= 'op_sign'></span>
      <input type="text"  [(ngModel)]='num2'/>
      <span id="equal_sign" [style.display]='display'>=</span>
      <span id="answer" [innerHTML] = 'answer' [style.display]='display'></span>
  </div>
  <div id="buttons">
    <input type="button" id="add" value="+"  name = "add" (click)="operation('add')"/>
    <input type="button" id="sub"value="-"   (click)="operation('sub')"/>
    <input type="button" id="mul" value="*"   (click)="operation('mul')"/>
    <input type="button" id="divison" value="/"   (click)="operation('div')"/>
    <input type="button" id="clear" value="clear"   (click)="operation('clear')"/>

  </div>

</div>
