<h3>Calculator</h3>
<div id="container">
  <div id="operands">
      <input type="text"  [(ngModel)]='num1'/>
      <span id="operator" [innerHTML]= 'op_sign'></span>
      <input type="text"  [(ngModel)]='num2'/>
      <span id="equal_sign" [style.display]='display'>=</span>
      <span id="answer" [innerHTML] = 'answer' [style.display]='display'></span>
  </div>
  <div id="buttons">
    <input type="button" #box1 id="add" value="+"  name = "add" (click)="operation(box1.id)"/>
    <input type="button" #box2 id="sub" value="-"   (click)="operation(box2.id)"/>
    <input type="button" #box3 id="mul" value="*"   (click)="operation(box3.id)"/>
    <input type="button" #box4 id="divison" value="/"   (click)="operation(box4.id)"/>
    <input type="button" #box5 id="clear" value="clear"   (click)="operation(box5.id)"/>

  </div>

</div>
